/* media quary */
@media screen and (max-width: 576px) {

  /* header section */
  body {
    margin: 0px;
  }

  /* navbar section  */
  .mobile-display-hidden {
    display: none;
  }

  .navbar {
    display: flex;
    border: 0.5px solid rgb(254, 163, 1);
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 0px;
    padding: 12px 16px;
  }
  .mobile-menubar {
    display: block;
  }
  .mobile-menubar,i {
    font-size: 40px;
    text-align: center;
    align-items: center;
  }


  .marqueebar {
    font-weight: 500;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    background-color: rgb(236, 8, 8);
    padding-top: 5px;
    margin: 0px 0px;
    margin-top: 5px;
  }



  /* header section  */
  .head-containar {
    flex-direction: column-reverse;
    text-align: center;
    margin: 8px 17px 0px 17px;
  }

  /* Standard Curriculum section  */
  .sc-section-title {
    font-weight: bold;
    font-size: 26px;
    color: #000000;
    text-align: center;
    margin: 40px 0px 20px 0px;
  }

  .sc-containar {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    margin: 20px 16px 20px 16px;
    gap: 12px;
  }

  .sc-card {
    height: 321.28px;
    width: auto;
    padding: 36px 28px;
  }

  .sc-card-img {
    margin-bottom: 22px;
  }

  .sc-card-title {
    font-weight: bold;
    font-size: 16px;
    color: #202020;
    margin-top: 0px;
    margin-bottom: 22px;
  }

  .sc-card-description {
    font-weight: 500;
    font-size: 10px;
    color: #808080;
    margin-top: 0px;
    margin-bottom: 22px;
  }

  .sc-containar div button {
    border: none;
    background: none;
    margin-top: 0px;
  }

  .scrl-btn {
    display: none;
  }

  .sc-card-btn-1,
  .sc-card-btn-2,
  .sc-card-btn-3 {
    font-weight: bold;
    font-size: 10px;
  }

  /* our story section  */
  .mobile-display-hidden {
    display: none;
  }
  .storie-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .primary-store-card {
    margin: 20px 16px;
    gap: 11px;
  }
  .store-card{
    width: 50px;
  }

  /* our stores section  */
  .primary-store-card {
    margin: 20px 16px;
  }



  /* footer section  */
  .footer-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    padding-left: 0px;
    padding: 66px auto 60px 20px;
    gap: 32px;
  }

  .footer-section {
    margin-left: 0px;
    padding-left: 20px;
  }

  .about-section {
    margin-left: 0px;
  }

  .media-link-section {
    margin-left: 0px;
  }

}