.quicksand-font {
  font-family: "Quicksand", serif;
}

.raleway-font {
  font-family: "Raleway", serif;
}

/* header section */
/* Navbar section  */
.display-flex {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 20px 141px;
}

.navbar-logo-contain {
  display: flex;
  gap: 11px;
  align-items: center;
}

.navbar-logo-contain>p {
  font-weight: bold;
  font-size: 20px;
  color: #111111;
}

.navbar-logo {
  width: 62px;
  height: 62px;
}

.menu-title {
  display: flex;
  padding: 0px;
  list-style: none;
  align-items: center;
  text-decoration: none;
  gap: 32px;
}

.menu-title li {
  text-align: center;
}

.menu-title li a {
  text-decoration: none;
}

/* .menu-title li:nth-child(3n) {
  color: #c00;
} */
.menu-title1 a {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.menu-title2 a {
  font-weight: 500;
  font-size: 20px;
  color: blueviolet;
}

.menu-title3 a {
  font-weight: 500;
  font-size: 20px;
  color: chartreuse;
}

.menu-title3 a {
  font-weight: 500;
  font-size: 20px;
}

.navbar-btn {
  height: 50px;
  width: 197px;
  border: none;
  border-radius: 10px;
  background-color: aqua;
}

.navbar-btn a {
  /* align-items: center; */
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.mobil-menubar {
  text-align: center;
  align-items: center;
  height: 30px;
  width: 30px;
  display: none;
}
.mobile-hr-line{
  display: none;
}
/* header page section  */
.head-containar{
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0px 141px;
}
.head-title{
  font-weight: bold;
  font-size: 56px;
  color: #111111;
  margin: 0px;
}
.primary-text-color-1{
  color: rgba(254, 163, 1, 1);
}
.primary-text-color-2{
  color: rgba(1, 172, 253, 1);

}
.head-decript{
  margin:24px 0px;
  font-size: 20px;
  color: rgba(17, 17, 17, 1);
}
.head-btn a{
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #111111;
}
.head-btn{
  border: none;
  border-radius: 12px;
  padding: 10px 47px;
  background-color: #111111;
  margin: 0px;
}

/* main section */
/* Standard Curriculum  */
.sctandard-curriculum-section{
  background: url('/assets/bg.png');
}
.sc-section-title{
  font-weight: bold;
  font-size: 46px;
  color: #000000;
  text-align: center;
  margin: 40px 0px 80px 0px;
}
.sc-containar{
  display: grid;
  grid-template-columns:auto auto auto;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
  /* justify-content: space-between; */
  margin:  80px 100px 80px 100px ;
  gap: 29px;
}
.sc-card-1{
  border: none;
  height: 476px;
  width: 367px;
  border-radius: 19px;
  background-color: chartreuse;
}
.sc-card-2{
  border: none;
  height: 476px;
  width: 367px;
  border-radius: 19px;
  background-color: blueviolet;
}
.sc-card-3{
  border: none;
  height: 476px;
  width: 367px;
  border-radius: 19px;
  background-color: aqua;
}

.sc-card-img{
  width: 136px;
  height: 136px;
}
.sc-card-title{
  font-weight: bold;
  font-size: 24px;
  color: #202020;
}
.sc-card-description{
  font-weight: 500;
  font-size: 15px;
  color: #808080;

}
.sc-card-btn-1{
  font-weight: bold;
  font-size: 15.09px;
  border: none;
  text-decoration: none;
  background-color: aqua;
  color: beige;
}
.sc-card-btn-2{
  font-weight: bold;
  font-size: 15.09px;
  border: none;
  text-decoration: none;
  background-color: aqua;
  color: beige;
}
.sc-card-btn-3{
  font-weight: bold;
  font-size: 15.09px;
  border: none;
  text-decoration: none;
  background-color: aqua;
  color: beige;
}

.sc-slide-btn{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 60px;
}
.sc-slide-btn button{
  height: 60px;
  width: 60px;
  border: none;
  font-size: 24px;
  color: #FFFFFF;
  border-radius: 30px;
  background-color: rgba(254, 163, 1, 1);
}

/* footer section */

